@model IEnumerable<UtaemKomite.Models.Prodosya>

    <div>
        <b><u>Dosyalar</u></b>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" onclick="alert('ieaiea')"><i><u> Tüm Versiyonları Gör </u></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-sm btn-light" onclick="ProdosyaEkleFormAc(1)">+Ekle</button>
    </div>
<br />
<div class="row">
    <div class="col-sm-2" >
        <center>
            <img style="cursor:pointer" height="30" src="~/resim/wordlogo.png" /><br />
            Zeytinde fila...docx
        </center>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-sm-2">
            <center>
                <img height="30" src="~/resim/wordlogo.png" /><br />

            </center>
        </div>
    }
</div>

<script>
    function ProdosyaEkleFormAc(projeID) {
        new OzAjax("/User/DosyaEkle", GET, { projeID: projeID }, prodosyaEkleFormBasari).BasitGonder();
        function prodosyaEkleFormBasari(data) {
            new OzModal().Sayfa(data, "Dosya Ekle");
        }
    }
</script>