
@{
    ViewData["Title"] = "Index";
}

<h4>Benim Sayfam</h4>
<br />
<h5>
    <u>Projelerim</u>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" onclick="YeniProjeEkle()"><span class="fas fa-plus"></span> Proje</button>
</h5>
<div class="row">
    <div class="col-sm" id="projelerimDiv"></div>
    <div class="col-sm" id="tutanaklarDiv"></div>
</div>

<script>
    $(document).ready(function () {
        ProjelerimListele();
    });

    function ProjelerimListele() {
        new OzAjax("/User/ProjelerimListele", GET, null, projelerimListeleBasari).BasitGonder();
        function projelerimListeleBasari(data) {
            $("#projelerimDiv").html(data);
        }
    }

    function YeniProjeEkle() {
        new OzAjax("/User/YeniProjeEkle", GET, null, yeniProjeEkleFormBasari).BasitGonder();
        function yeniProjeEkleFormBasari(data) {
            new OzModal().Sayfa(data, "Yeni Proje");
        }
    }

    function ProjeDuzenle(id) {
        new OzAjax("/User/ProjeDüzenle", GET, { id: id }, projeDuzenleFormBasari).BasitGonder();
        function projeDuzenleFormBasari(data) {
            new OzModal().Sayfa(data, "Proje Düzenle");
        }
    }

    function DosyaIndir(prodosyaID) {
        $.blockUI({ message: "<p>&nbsp;</p><p>Dosya İndiriliyor</p><p>Lütfen bekleyiniz...</p><p>&nbsp;</p>" });
        new OzAjax("/User/DosyaIndir", POST, { prodosyaID: prodosyaID }, dosyaIndirBasari).BasitGonder();
        function dosyaIndirBasari(data) {
            new OzModal().Bilgi(data);
            $.unblockUI()
        }
    }

</script>


