@model UtaemKomite.Models.Proje

<form id="yeniProjeEkleForm">
    <div class="form-group">
        <label asp-for="isim" class="control-label"></label>
        <input asp-for="isim" class="form-control" />
        <span asp-validation-for="isim" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="durum" class="control-label"></label>
        <select asp-for="durum" asp-items="@Html.GetEnumSelectList<PROJEDURUM>()" class="form-control"></select>
        <span asp-validation-for="durum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<script>
    $("#yeniProjeEkleForm").submit(function (e) {
        e.preventDefault();
        new OzAjax("/User/YeniProjeEkle", POST, $("#yeniProjeEkleForm").serialize(), yeniProjeEkleBasari).BasitGonder();
        function yeniProjeEkleBasari(data) {
            new OzModal().Bilgi(data, 1200);
            ProjelerimListele();
        }
    })
</script>